.App {
  text-align: center;
  height: 100vh;
  padding: 40px;
}

input[type="text"] {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

.keyLetter {
  width: 10%;
  display: block;
  height: 60px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  background-color: white;
}

.keyboard {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}


button {
  width: 100px;
  height: 48px;
  margin-left: 5px;
  border-radius: 10px;
  font-size: 30px;
  color: white;
  background-color: green;
}

.keyboardBase {
  max-width: 1050px;
  position: absolute;
  padding: 5px;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, -50%);
  background-color: rgb(197, 197, 197);
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(30, 30px);
  grid-template-rows: repeat(2, 60px);
  grid-gap: 5px;
  justify-content: center;
}


.key {
  background-color: rgb(243, 243, 243);
  border: 2px solid black;
  border-radius: 5px;
  grid-column: span 2;
  font-size: 20px;
  text-align: center;
  padding-top: 17px;
  text-transform: uppercase;
}

.key:hover {
border: 1px solid #eeeeee;

}